spring:
  datasource:
    url: jdbc:sqlserver://localhost\SQLEXPRESS:1433;databaseName=Hospital;encrypt=true;trustServerCertificate=true;
    username: user
    password: 1234
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
        physical_naming_strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
